<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]='["/"]'>TDT V1</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]='["/"]'>Ana sayfa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/"]'>Topluluk</a>
      </li>
      <li class="nav-item">
        <a [routerLink]='["/fetch-data"]' class="nav-link">Data</a>
      </li>
      <li *ngIf="!isUserLoggedIn" class="nav-item">
        <a [routerLink]='["/login"]' class="nav-link">Giriş</a></li>
    </ul>
    <div *ngIf="isUserLoggedIn" class="app-component collapse navbar-collapse menuItemsContainer">
      <ul class="app-component nav navbar-nav nav-pills navBarPadding">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ><a [routerLink]='["/settings"]' class="nav-link"><span class="glyphicon glyphicon-home"></span> Ayarlar</a></li>
      </ul>
      <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
        <li (click)="logout()" class="nav-item"><a href="javascript:;" class="nav-link"><span class="glyphicon glyphicon-log-out"></span> Çıkış</a></li>
      </ul>
      <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
        <li routerLinkActive="active"><a routerLink="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
